@font-face {
  font-family: "GeoramaRegular";
  src: local("GeoramaRegular"),
    url("./assets/fonts/Georama/Georama-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GeoramaBold";
  src: local("GeoramaBold"),
    url("./assets/fonts/Georama/Georama-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GeoramaMedium";
  src: local("GeoramaMedium"),
    url("./assets/fonts/Georama/Georama-Medium.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  font-family: "GeoramaRegular", sans-serif;
}

a {
  text-decoration: none;
}

html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

.section-title {
  font-family: "GeoramaBold";
  font-size: 76px;
}

@media only screen and (max-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}
